@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Merienda', cursive;
}

body {
    background-image: url("emma-simpson-mNGaaLeWEp0-unsplash.jpg");
    background-attachment:fixed;
    background-size: cover;
}


main{
    background-color: white;
    margin: auto;
    display: flex;
    /* //make item streatch all heght */
    justify-content: stretch;
    min-height: 60vh;
}

.heading {
    text-align: center;
    background-color: rgb(79, 146, 212,0.8);
}

.heading h1{
    margin-top: 60px;
    color: Black;
}

.heading h2, .heading h3 {
    color: yellow;
}
.heading span {
    color: black;
}


.left {
    flex: 60%;
}

.right {
    flex: 40%;
}

.left{
    background-image: url("luke-chesser-rCOWMC8qf8A-unsplash.jpg");
    /* background-attachment:fixed; */
    background-size:contain;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
}

.left .message {
    background-color:  rgb(79, 146, 212,0.8);
}

.right{
    text-align: left;
    line-height: 1.75;
    font-size: larger;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 10px;
}


input{
    height: 30px;
    text-align: center;
}

@media only screen and (max-width: 850px) {
    main {
        flex-direction: column;
        justify-content: center;
    }
    .left{
        flex:100%;
        min-height: 350px;
    }

    .right{
        flex:100%;
    }
  }